<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
	    internalLogLevel="Error"
	    internalLogFile="${basedir}\logs\nlog-internal.log">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <target xsi:type="File"
			name="file"
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}${exception:maxInnerExceptionLevel=2:innerFormat=tostring:format=tostring,Data}"/>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Fatal" writeTo="file" enabled ="false" />
    <logger name="*" minlevel="Error" writeTo="file" enabled ="false" />
    <logger name="*" minlevel="Warn" writeTo="file" enabled ="false" />
    <logger name="*" minlevel="Info" writeTo="file" enabled ="false" />
    <logger name="*" minlevel="Debug" writeTo="file" enabled ="false" />
    <logger name="*" minlevel="Trace" writeTo="file" enabled ="true" />
  </rules>
</nlog>